<footer>
  <div class="padded center bg-medium">
    <div class="padded-1">
      <a href="#" class="logo"> LOGO </a>
    </div> 
    <nav class="padded-1">
       <a href="#"> Link One </a>
      <a href="#"> Link Two </a>
      <a href="#"> Link Three </a>
      <a href="#"> Link Four </a>
    </nav> 
    <div class="subtle center padded-t margin-t copyright">
      Copyright &copy; <script>document.write(new Date().getFullYear())</script> BLOG <br> All Rights Reserved
   </div> 
  </div>
</footer>
  